body{
  background-color: #fff4de;
}
h1{
  text-align: center;
  color: #333;
}
.btn-start{
  display: block;
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}